<nav>
    <ul>
        {{ range site.Taxonomies.categories }}
        <li>
            <a href="{{ .Page.RelPermalink }}" 
               class="{{ if eq .Page.RelPermalink $.RelPermalink }}active{{ end }}">
                {{ .Page.Title }}
            </a>
        </li>
        {{ end }}
    </ul>

    {{ if ne .RelPermalink "/" }} 
    <h3>Beiträge</h3>
    <ul>
        {{ range .Pages }}
            <li>
                <a href="{{ .RelPermalink }}" 
                   class="{{ if eq .RelPermalink $.RelPermalink }}active{{ end }}">
                    {{ .Title }}
                </a>
            </li>
        {{ end }}
    </ul>
    {{ end }}
</nav>