{{ define "main" }}
<div class="themen-container">
    {{ range site.Taxonomies.categories }}
    <div class="themen-item">
        <a href="{{ .Page.RelPermalink }}" class="themen-link">
            {{ $imagePath := printf "images/%s.png" (.Page.Title | urlize) }}
            <img src="{{ $imagePath | relURL }}" class="themen-image" alt="{{ .Page.Title }}"
                 onerror="this.onerror=null;this.src='{{ "images/default.jpg" | relURL }}';">
            <div class="themen-title">{{ .Page.Title }}</div>
        </a>
    </div>
        
    {{ end }}
</div>
{{ end }}